/* You can add global styles to this file, and also import other style files */
:root {
    --bs-primary: #901515;
  }

  .bg-primary {
    background-color: var(--bs-primary) !important;
  }

  .text-primary {
    color: var(--bs-primary) !important;
  }

  .btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
  }